<hr class="featurette-divider">
<div class="border-row" style="width: 100%; margin-border: 15px;"></div>
<footer class="page-footer" style="width:100%;">
<div class="container" style="margin-top:10px; width: 100%;" align="center">
    <div class="row" style="width:100%;">
        <div class="col l6 s12">
            <ul style="list-style-type: none;">
                <li style="list-style-type: none;"><a class="grey-text text-lighten-3" href="/support-donate/">Support this Website!</a></li>
                <li style="list-style-type: none;"><a class="grey-text text-lighten-3" href="/consulting/">Hire me</a></li>
                <li style="list-style-type: none;"><a class="grey-text text-lighten-3" href="https://www.facebook.com/pythonprogramming.net/">Facebook</a></li>
                <li style="list-style-type: none;"><a class="grey-text text-lighten-3" href="https://twitter.com/sentdex">Twitter</a></li>
                <li style="list-style-type: none;"><a class="grey-text text-lighten-3" href="https://plus.google.com/+sentdex">Google+</a></li>
            </ul>
        </div>
        <div class="col l4 offset-l2 s12" align="center" style="width:100%;">
            <ul style="list-style-type: none;">
                <li><a class="grey-text text-lighten-3" href="/about/tos/">Terms and Conditions</a></li>
                <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright" style="width:100%;" align="left">
    <div class="container" postition="absolulte" align="left" style="width:100%;">
        <p>© Trademark iSearchify 2018</p>
    </div>
</div>
</footer>