<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Searchify - Open Source Web Application</title>
</head>
<header>
<div class="navbar-header">
	<a class="navbar-brand" href="/">
		<img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.png') }}" alt="Brand Logo">
	</a>
</div>

<div class="container-fluid">
	<a href="/search/">
		<button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height:42px; margin-right: 5px;">
			<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			Search Scraping
		</button>
	</a>

	<ul class="nav navbar-nav navbar-right">
		<div style="margin-right: 10px; margin-left: 15px;  margin-top: 15px; margin-bottom: 5px;" class="container-fluid">
			<a href="/selfhosting/" style="display: inline-block; margin-right: 5px;"><span class="glyphicon glyphicon-cloud"></span> Hosting </a>
			<a href="/" style="display: inline-block; margin-right: 5px;"><span class="glyphicon glyphicon-heart"></span> Support Us </a>
			<a href="/" style="display: inline-block; margin-right: 5px;"><span class="glyphicon glyphicon-pencil"></span> Contact Us </a>
			<a href="/" style="display: inline-block; margin-right: 5px;"><span class="glyphicon glyphicon-link"></span> About Us </a>
		</div>
	</ul>

</div>

</header>
<body>
<div class="border-row" style="width: 100%; margin-border: 15px;"></div>

<div class="container-fluid" style="min-height:100%;" align="left">

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-info alert-dismissable" role="alert">
			<button type="button" class="close" date-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			 {{message}}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}

{% block body %}
{% endblock %}
</div>

<script type="text/javscript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javscript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
{% include "footer.html" %}
</html>
