{% extends "header.html" %}


{% block body %}
<section class="jumbotron text-center" style="margin-top:5px; margin-bottom: 15px;">
    <div class="container">
      <h1 class="jumbotron-heading">iSearchify</h1>
      <p class="lead text-muted">Reliable, Open Source Framework For Search Engine Scraping & Twitter Sentiment Analysis.</p>
      <p class="lead text-muted">Self Hosted Web Applications For Search & Social Media Professionals.</p>
        <p>
        <a href="#" class="btn btn-primary my-2"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Try For Free </a>
        <a href="#" class="btn btn-secondary my-2">Review Open Source</a>
      </p>
    </div>
</section>
<div class="container marketing" style="margin-top: 30px;">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Live Searches</h2>
            <p>Scrape relevant brand or generic queries to improve knowledge of search landscape. Learn competitor bidding strategy and review creative. Leverage data to enhance campaign performance.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Actionable Insight</h2>
            <p>Set your own scrape limits up to 48 times per day. Generate data by hour and build a comprehensive view of competitor activity across core queries. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Data Analysis</h2>
            <p>Modify your own strategy to capitalise on auctions with lower competition. Leverage data to build a comprehensive view of competitor keyword coverage, strategy and creative.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Why Use Us? <span class="text-muted">Erm... We Are Free.</span></h2>
            <p class="lead">YES! We are free, but why and how?</p>
            <p class="lead">We don't host any data, in fact our only costs are the upkeep of this website. With your support we endeavour to create more free, open source tools.</p>
            <p class="lead">Unlike other market leading competitor analysis tools for search we put the power in your hands, allow you to set your own query searches and importantly allow you to generate, store and access the data.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1632737fe11%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1632737fe11%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">We have created off the shelf dashboards we are confident you will love, but in case you don't, you control to the code and hosting, so you can tailor everything to meet your needs.</p>
              <p class="lead">Got stuck? Drop us an email via the contact us page and see if we can help. If you do love it, thanks, we like the tool too but if you really love it and would like to learn more we are happy to chat to anyone. We offer paid consultancy for advanced data analysis or dashboard creation. If you are just interested in what we have done and how we have done it then we are happy to share more</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1632737fe15%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1632737fe15%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Client Libraries...<span class="text-muted">What We Love.</span></h2>
            <p class="lead">Our website is mainly built using a bootstrap HTML, CSS & Javascript front-end component library. Back end website was created using Flask a micro web framework written in Python library for advances web scraping is coded in Python based on the Werkzeug toolkit and Jinja2 template engine.</p>
              <br />
            <p class="lead">We also specialise in building bespoke marketing solutions, specifically around Paid Search. Combined our contributors have over 10 years experience in managing and automating marketing solutions from Data Analysis using Python to Javascript and AdWords Scripting.</p>
          </div>

          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1632737fe16%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1632737fe16%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div>

{% endblock %}